<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Takvim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup><userSettings>
        <Takvim.Properties.Settings>
            <setting name="ResmiTatil" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="CmtRenk" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="PazRenk" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GövdeRenk" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </Takvim.Properties.Settings>
    </userSettings>
</configuration>