<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Takvim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup><userSettings>
        <Takvim.Properties.Settings>
            <setting name="ResmiTatil" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="CmtRenk" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="PazRenk" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GövdeRenk" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="Satır" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Sütün" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BayramRenk" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="KontrolSüresi" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PopupSüresi" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HaftaSonlarıGizle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UyarıSaatSüresi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VarsayılanTakvim" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AyarlarGörünür" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Panel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YatayAdetOranı" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MiniTakvimAçık" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeçiliTts" serializeAs="String">
                <value />
            </setting>
            <setting name="YaklaşanEtkinlikleriOku" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SonArşivKayıtYeri" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </Takvim.Properties.Settings>
    </userSettings>
</configuration>